   <!--=== Sidebar Widget ===-->
   <div class="sidebar-widget sidebar-tag-widget mb-30" data-aos="fade-up" data-aos-duration="1200">
    <h4 class="widget-title">Popular Tags</h4>
    <div class="widget-content">
      <% blogDetails.seoConfig.tags.forEach(tag=> { %>
        <a href="javascript:void(0)"><%= tag %></a>
        <% }) %>
    </div>
</div>