<% if (clients && clients.length > 0) { %>
      
          
     
      <section class="renvia-clients-sec pt-90 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Title -->
                    <div class="section-title mb-30" data-aos="fade-up" data-aos-duration="1000">
                        <h3>We take great pride in working with top-tier clientele.</h3>
                    </div>
                </div>
            </div>
            <!-- Clients Slider -->
            <div class="clients-slider" data-aos="fade-up" data-aos-duration="1200">
                <!-- Renvia Client Item -->

                <% clients.forEach((client) => { %>
               
                <div class="renvia-client-item">
                    <a href="<%= client.backlink || 'javascript:void(0)' %>">
                    <div class="client-img">
                        <img src="<%= process.env.S3_BASE_URL + client.logo %>" alt="<%= client.associatedbrandname %>">
                    </div>
                    </a>
                </div>
                <% }) %>
               
              
            </div>
        </div>
    </section>
    <% } %>
