<section id="pt-120" class="renvia-about_two pb-120">
   
    <div class="shape shape-two"><img src="/assets/images/shape2.png" alt="shape"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Image Box -->
                <div class="renvia-image-box mb-5 mb-xl-0" data-aos="fade-up" data-aos-duration="1000">
                    <div class="renvia-image">
                        <% promobanners
                        .filter(banner => banner._id === "696f97ba117cb325a078e8eb")
                        .forEach(banner => { %>
                    
                        <img src="<%= process.env.S3_BASE_URL + banner.image %>" alt="about">
                    
                    <% }) %>
                    
                    </div>
                    <div class="renvia-content-box">
                        <div class="content text-center text-white">
                            <h2>20+</h2>
                            <p>Years of Experience </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box">
                    <div class="section-title">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="1000">About Us<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">Trusted Advisory for Real Estate & Insurance Decisions </h2>
                    </div>
                    <p data-aos="fade-up" data-aos-duration="1000">Tikariha Advisors Pvt. Ltd. is a forward-looking advisory firm with over two decades of 
                        experience in real estate and insurance consultancy. We help individuals, families, and 
                        businesses make clear, secure, and value-driven decisions through informed advisory and 
                        ethical guidance.</p>
                    <div class="renvia-tabs" data-aos="fade-up" data-aos-duration="1000">
                        <ul class="nav nav-tabs">
                            <li>
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mission">Our Mission</button>
                            </li>
                            <li>
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#vision">Our Vision</button>
                            </li>
                            <li>
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#history">Our History</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" data-aos="fade-up" data-aos-duration="1200">
                        <div class="tab-pane fade show active" id="mission">
                            <div class="content-box">
                                <div class="renvia-image">
                                    <img src="/assets/images/mission.jpeg" alt="about">
                                </div>
                                <div class="content">
                                    <p>To deliver integrated real estate and insurance advisory solutions that combine deep market 
                                        expertise, transparency, and integrity, enabling clients to achieve long-term growth with 
                                        confidence. </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="vision">
                            <div class="content-box">
                                <div class="renvia-image">
                                    <img src="/assets/images/vision.jpg" alt="about">
                                </div>
                                <div class="content">
                                    <p>To build a nationally respected advisory institution, trusted across generations for clarity, 
                                        security, and sustainable value creation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="history">
                            <div class="content-box">
                                <div class="renvia-image">
                                    <img src="/assets/images/experience.png" alt="about">
                                </div>
                                <div class="content">
                                    <p>With more than 20 years of industry presence, Tikariha Advisors has evolved from a focused 
                                        real estate consultancy into a holistic advisory platform, serving clients across multiple life and 
                                        business stages. 
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="renvia-button-wrap" data-aos="fade-up" data-aos-duration="1000">
                        <div class="renvia-button">
                            <a href="/about" class="theme-btn style-one">Know More <i class="far fa-arrow-right"></i></a>
                        </div>
                        <div class="call-support-box">
                            <div class="icon" onclick="window.location.href='tel:+919039931234'">
                                <i class="far fa-phone-alt"></i>
                            </div>
                            <div class="content">
                                <span class="title">Call Us For Any Inquiry</span>
                                <h6 style="font-size: 20px;"><a class="phonenumberabout" href="tel:+919039931234">+91 9039931234</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .renvia-about_two .call-support-box .icon{
        background-color: #d3af63 ;
        cursor: pointer;
    }
    .renvia-about_two .call-support-box .phonenumberabout:hover{
        color: #4b3bad !important;
    }
    .renvia-about_two .call-support-box:hover .icon{
        background-color: #4b3bad;
    }

</style>