<section class="renvia-hero_one">
  <div class="hero-dots"></div>
 
  <div class="hero-slider">
      <!-- Single Slider -->

      <% banners.forEach((banner, index) => { %>
      <div class="single-slider">
          <div class="image-layer bg_cover" data-src="<%= process.env.S3_BASE_URL + banner.desktopbanner %>"></div>
          <div class="container">
              <div class="row">
                  <div class="col-xl-8 col-lg-10">
                      <!-- Hero Content -->
                      <div class="hero-content">
                          <span class="tag-line" data-aos="fade-down" data-aos-duration="2000">rehomes housing development</span>
                          <h1 class="text-anm"><%= banner.bannerTitle %></h1>
                          <p data-aos="fade-up" data-aos-duration="2200">We are a top 25 builder and developer fully invested in our customers’ success and improving the communities we serve.</p>
                          <div class="renvia-button" data-aos="fade-up" data-aos-duration="2400">
                              <a href="/" class="theme-btn style-one">View All Services<i class="far fa-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% }) %>
     
  </div>
</section>