  <!--======  Start About Section  ======-->
  <section class="renvia-about_one pt-100 pb-120">
    <div class="shape"><img src="assets/images/home-one/about/shape.png" alt="shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <!-- Renvia Image Box -->
                <div class="renvia-image-box" data-aos="fade-up" data-aos-duration="1000">
                    <div class="renvia-image image_one">
                        <img src="assets/images/home-one/about/about-img1.jpg" alt="about image">
                    </div>
                    <div class="renvia-image image_two">
                        <img src="assets/images/home-one/about/about-img2.jpg" alt="about image">
                    </div>
                    <div class="renvia-image image_three">
                        <img src="assets/images/home-one/about/circle-img.png" alt="about image">
                    </div>
                    <div class="renvia-ratings-box">
                        <div class="content">
                            <h2>4.9</h2>
                            <div class="renvia-avatar-box">
                                <div class="avatar-list">
                                    <ul>
                                        <li><img src="assets/images/home-one/gallery/avatar-img1.png" alt="avatar image"></li>
                                        <li><img src="assets/images/home-one/gallery/avatar-img2.png" alt="avatar image"></li>
                                        <li><img src="assets/images/home-one/gallery/avatar-img3.png" alt="avatar image"></li>
                                        <li><img src="assets/images/home-one/gallery/avatar-img4.png" alt="avatar image"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">
                                <div class="ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h6>2k+ satisfied customers</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-11">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box mt-5 mt-xl-0">
                    <div class="section-title">
                        <span class="sub-title" data-aos="fade-down" data-aos-duration="1000">About Us<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">Your Reliable Source for Outstanding Real Estate</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-duration="1000">We believe a home is more than just a place it’s where life begins. With over a decade of experience in the real estate industry, we specialize in connecting buyers, sellers, and investors with opportunities that match their vision</p>
                    <div class="renvia-features-list">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="renvia-iconic-left-box style-one mb-30" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="icon">
                                        <img src="assets/images/home-one/icon/icon1.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h5>Extensive Property Portfolio</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="renvia-iconic-left-box style-one mb-30" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="icon">
                                        <img src="assets/images/home-one/icon/icon2.png" alt="icon">
                                    </div>
                                    <div class="content">
                                        <h5>Experienced Real Estate Experts</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="check-list style-one" data-aos="fade-up" data-aos-duration="1400">
                        <li><img src="assets/images/home-one/gallery/icon.png" alt="icon">Expertise in residential & commercial properties.</li>
                        <li><img src="assets/images/home-one/gallery/icon.png" alt="icon">A growing community of happy families.</li>
                    </ul>
                    <h6 data-aos="fade-up" data-aos-duration="1500">We specialize in delivering strategic guidance, project development support,</h6>
                    <div class="renvia-button" data-aos="fade-up" data-aos-duration="1600">
                        <a href="about.html" class="theme-btn style-one">Know More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>