<section class="renvia-project_one pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box">
                    <div class="section-title">
                        <span class="sub-title">Our services<img src="/assets/images/line2.png" alt="line"></span>
                        <h2>Strategic Advisory for Life’s 
                            Most Important Decisions</h2>
                    </div>
                    <p>We provide structured guidance across property, protection, and investments—helping 
                        individuals and businesses plan with clarity, confidence, and foresight.</p>
                    <div class="renvia-button mt-35">
                        <a href="/services" class="theme-btn style-one">Let's Connect<i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <!-- Renvia Projects List -->
                <div class="renvia-proiect-list">
                    <!-- Renvia Project Item -->
                    <div class="renvia-project-item style-one">
                        <div class="project-content">
                            <div class="project-meta">
                                <span class="location">Strategic Property Decisions with Confidence</span>
                            </div>
                            <h4 class="title"><a href="project-details.html">Real Estate Advisory & Sales </a></h4>
                            <p>With over 20+ years of market experience, we guide clients through buying, selling, leasing, 
                                and renting with a focus on transparency, fair value, and long-term outcomes. </p>
                            <a href="project-details.html" class="icon-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                        <div class="project-thumbnail">
                            <img src="assets/images/home-one/project/project-img1.jpg" alt="project image">
                        </div>
                    </div>
                    <!-- Renvia Project Item -->
                    <div class="renvia-project-item style-one">
                        <div class="project-content">
                            <div class="project-meta">
                                <span class="location">Protection Planning That Comes First</span>
                            </div>
                            <h4 class="title"><a href="project-details.html">Insurance Advisory</a></h4>
                            <p>Insurance is not about policies—it’s about protecting what matters most. We provide clear, 
                                unbiased insurance advisory to safeguard health, income, and long-term financial security. </p>
                            <a href="project-details.html" class="icon-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                        <div class="project-thumbnail">
                            <img src="assets/images/home-one/project/project-img2.jpg" alt="project image">
                        </div>
                    </div>
                    <!-- Renvia Project Item -->
                    <div class="renvia-project-item style-one">
                        <div class="project-content">
                            <div class="project-meta">
                                <span class="location">Structured Growth with Risk Awareness</span>
                            </div>
                            <h4 class="title"><a href="project-details.html">Investment Consultancy</a></h4>
                            <p>Our investment advisory is built on discipline, strategy, and alignment with life goals—helping 
                                clients grow wealth while managing risk responsibly.</p>
                            <a href="project-details.html" class="icon-btn"><i class="far fa-arrow-right"></i></a>
                        </div>
                        <div class="project-thumbnail">
                            <img src="assets/images/home-one/project/project-img3.jpg" alt="project image">
                        </div>
                    </div>
                    <!-- Renvia Project Item -->
                    
                    <div class="final"></div>
                </div>
            </div>
        </div>
    </div>
</section>