<div class="sidebar-widget sidebar-contact-info-widget mb-40" style="background-color: #4b3bad;" data-aos="fade-up" data-aos-duration="1000">
    <div class="widget-content">
        <h4>Need Any Help?</h4>
        <p>Need Any Help, Call Us 24/7 For Support</p>
        <div class="renvia-info-item style-two item_one mb-20">
            <div class="icon">
                <i class="far fa-phone-alt"></i>
            </div>
            <div class="content">
                <span>Call Us</span>
                <h5><a href="tel:+919039931234">+91 9039931234</a></h5>
            </div>
        </div>
        <div class="renvia-info-item style-two item_two mb-20">
            <div class="icon">
                <i class="far fa-envelope"></i>
            </div>
            <div class="content">
                <span>Mail Us</span>
                <h5><a href="mail:info@tikarihaadvisors.com">manish@tikarihaadvisors.com</a></h5>
            </div>
        </div>
        <div class="renvia-info-item style-two item_three">
            <div class="icon">
                <i class="far fa-map-marker-alt"></i>
            </div>
            <div class="content">
                <span>Office Address</span>
                <h5>Raipur, Chhattisgarh, India 492001</h5>
            </div>
        </div>
    </div>
</div>