<%- include('header'), {seoDetails} %>

<div id="smooth-wrapper">
    <div id="smooth-content">
        <main>
            <!--======  Start Page Hero Section  ======-->
            <section class="page-hero bg_cover p-r z-1" data-src="assets/images/innerpage/bg/page-bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!--=== Page Content ===-->
                            <div class="page-content text-center">
                                <h1>About Us</h1>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End Page Hero Section  ======-->
            <!--======  Start About Section  ======-->
            <section class="renvia-about_three pt-115 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8">
                            <!-- Renvia Content Box -->
                            <div class="renvia-content-box mb-5 mb-xl-0">
                                <div class="section-title mb-45">
                                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000">Who We Are<img src="/assets/images/line2.png" alt="line"></span>
                                    <h2 class="text-anm">We created historic real estate ventures.</h2>
                                </div>
                                <div class="features-box-wrap">
                                    <div class="renvia-image" data-aos="fade-up" data-aos-duration="1000">
                                        <img src="/assets/images/innerpage/about/about-img1.jpg" alt="about image">
                                    </div>
                                    <div class="features- list">
                                        <div class="renvia-iconic-left-box style-two mb-25" data-aos="fade-up" data-aos-duration="1000">
                                            <div class="content">
                                                <h6 class="title"><span class="icon"><img src="/assets/images/innerpage/about/icon1.html" alt="icon"></span>Corporate Responsibility</h6>
                                                <p>Our goal is zero incidents and our lost time frequency rate is industry leading.</p>
                                            </div>
                                        </div>
                                        <div class="renvia-iconic-left-box style-two" data-aos="fade-up" data-aos-duration="1200">
                                            <div class="content">
                                                <h6 class="title"><span class="icon"><img src="/assets/images/innerpage/about/icon2.html" alt="icon"></span>Experts with Team Spirit</h6>
                                                <p>Our goal is zero incidents and our lost time frequency rate is industry leading.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="renvia-button-wrap mt-40" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="renvia-support-box">
                                        <div class="thumb">
                                            <img src="/assets/images/innerpage/about/support.html" alt="support">
                                        </div>
                                        <div class="content">
                                            <h5 class="title">Call Us For Any Inquiry</h5>
                                            <h6><a href="tel:+258-5485-4845">+258 - 5485 - 4845</a></h6>
                                        </div>
                                    </div>
                                    <div class="renvia-button">
                                        <a href="about.html" class="theme-btn style-one">Learn More<i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8">
                            <!-- Renvia Text Box -->
                            <div class="renvia-text-box" data-aos="fade-up" data-aos-duration="1000">
                                <p>we bring decades of experience to real estate strategy, advisory, and development. As one of the world’s largest privately held real estate groups, we deliver tailored solutions that align with your long-term vision.</p>
                                <p>we bring decades of experience to real estate strategy, advisory, and development. As one of the world’s largest privately held real estate groups, we deliver tailored solutions that align with your long-term vision.</p>
                                <div class="renvia-image mt-55">
                                    <img src="assets/images/innerpage/about/about-img2.html" alt="about image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End About Section  ======-->
            <!--======  Start Counter Section  ======-->
            <section class="renvia-counter-sec bg_cover pt-70 pb-30" data-src="assets/images/innerpage/bg/counter-bg.html">
                <div class="container">
                    <div class="counter-wrapper text-white">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12 item-border">
                                <!-- Renvia Counter Item -->
                                <div class="renvia-counter-item style-one text-center mb-40" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="content">
                                        <h2><span class="counter">145</span><span class="symbol">+</span></h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 item-border">
                                <!-- Renvia Counter Item -->
                                <div class="renvia-counter-item style-one text-center mb-40" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="content">
                                        <h2><span class="counter">129</span><span class="symbol">+</span></h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 item-border">
                                <!-- Renvia Counter Item -->
                                <div class="renvia-counter-item style-one text-center mb-40" data-aos="fade-up" data-aos-duration="1400">
                                    <div class="content">
                                        <h2><span class="counter">4.3</span>B<span class="symbol">+</span></h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 item-border">
                                <!-- Renvia Counter Item -->
                                <div class="renvia-counter-item style-one text-center mb-40" data-aos="fade-up" data-aos-duration="1600">
                                    <div class="content">
                                        <h2><span class="counter">25</span>M<span class="symbol">+</span></h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End About Section  ======-->
            <!--======  Start Work Section  ======-->
            <section class="renvia-work-sec pt-120 pb-120">
                <div class="container">
                    <!-- Work Wrapper -->
                    <div class="work-wrapper">
                        <!-- Renvia Work Item -->
                        <div class="renvia-work-item mb-60" data-aos="fade-up" data-aos-duration="1000">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Content -->
                                    <div class="content mb-5 mb-xl-0">
                                        <span class="sub-text">Our Trusted Real Estate</span>
                                        <div class="step">01</div>
                                        <h3 class="title">Find your future home</h3>
                                        <p>There are many variations of passages of Real Estate  available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Thumbnail -->
                                    <div class="thumbnail">
                                        <img src="assets/images/innerpage/gallery/work-img1.html" alt="work image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Renvia Work Item -->
                        <div class="renvia-work-item mb-60" data-aos="fade-up" data-aos-duration="1200">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Content -->
                                    <div class="content mb-5 mb-xl-0">
                                        <span class="sub-text">Our Trusted Real Estate</span>
                                        <div class="step">02</div>
                                        <h3 class="title">Experienced agents</h3>
                                        <p>There are many variations of passages of Real Estate  available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Thumbnail -->
                                    <div class="thumbnail">
                                        <img src="assets/images/innerpage/gallery/work-img2.html" alt="work image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Renvia Work Item -->
                        <div class="renvia-work-item mb-60" data-aos="fade-up" data-aos-duration="1400">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Content -->
                                    <div class="content mb-5 mb-xl-0">
                                        <span class="sub-text">Our Trusted Real Estate</span>
                                        <div class="step">03</div>
                                        <h3 class="title">Buy or rent homes</h3>
                                        <p>There are many variations of passages of Real Estate  available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-8">
                                    <!-- Thumbnail -->
                                    <div class="thumbnail">
                                        <img src="assets/images/innerpage/gallery/work-img3.html" alt="work image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End Work Section  ======-->
            <!--======  Start Choose Section  ======-->
            <section class="renvia-choose-sec gray-bg pt-120 pb-120" data-src="assets/images/innerpage/bg/choose-bg.html">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-6 col-lg-8">
                            <!-- Renvia Image -->
                            <div class="renvia-image mb-5 mb-xl-0" data-aos="fade-up" data-aos-duration="1000">
                                <img src="assets/images/innerpage/gallery/choose-img1.html" alt="image">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8">
                            <!-- Renvia Content Box -->
                            <div class="renvia-content-box" data-aos="fade-up" data-aos-duration="1000">
                                <div class="section-title">
                                    <span class="sub-title"><img src="assets/images/line1.png" alt="line">Built for the future.</span>
                                    <h2>World Of Smart Spaces And Development</h2>
                                </div>
                                <p>we are more than just real estate advisors we are long-term partners in your property journey. With decades 25 years of experience across real estate development, investment consulting, </p>
                                <div class="check-counter-wrap">
                                    <ul class="check-list style-three">
                                        <li>Proactively pontificate client</li>
                                        <li>Is there a waiting list for desired </li>
                                        <li>Immediate 24/ 7 Emergency</li>
                                    </ul>
                                    <div class="counter-wrap">
                                        <div class="renvia-counter-item">
                                            <div class="content">
                                                <h4>30k+</h4>
                                                <p>Satisfied Client</p>
                                            </div>
                                        </div>
                                        <div class="renvia-counter-item">
                                            <div class="content">
                                                <h4>30k+</h4>
                                                <p>House</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Clients Wrapper -->
                    <div class="clients-wrapper pt-120" data-aos="fade-up" data-aos-duration="1000">
                        <!-- Clients Slider -->
                        <div class="clients-slider">
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img1.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img2.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img3.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img4.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img5.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img6.html" alt="client logo">
                                </div>
                            </div>
                            <!-- Renvia Client Item -->
                            <div class="renvia-client-item">
                                <div class="client-img">
                                    <img src="assets/images/innerpage/clients/client-img4.html" alt="client logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--======  End Choose Section  ======-->
        </main>

<%- include('footer') %>
