<%- include('header'), {seoDetails} %>

<div id="smooth-wrapper">
    <div id="smooth-content">
        <main id="top-180-90">
         
            <section class="renvia-team-details-sec ">
                <div class="container">
                    <div class="team-details-wrapper">
                        <div class="renvia-team-main">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="member-image mb-5 mb-xl-0">
                                        <img src="/assets/images/Mr_Manish_Tikariha.png" alt="member image">
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="member-info">
                                        <div class="title-social-wrap mb-10">
                                            <div class="title-wrap mb-20">
                                                <h4 class="title">Manish Tikariha</h4>
                                                <span class="position">Founder and Principal Advisor </span>
                                            </div>
                                            <div class="social-box mb-20">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                                <a href="#"><i class="fab fa-behance"></i></a>
                                            </div>
                                        </div>
                                        <p>Mr. Manish Tikariha is a seasoned professional with over two decades of experience in real estate and insurance advisory. Known for his integrity-driven and client-centric approach, he provides strategic guidance focused on long-term value, risk optimization, and informed decision-making. His work is built on trust, transparency, and enduring relationships.</p>
                                        <div class="member-info-list mb-40" data-aos="fade-up" data-aos-duration="1000">
                                            <div class="row g-xl-0">
                                                <div class="col-md-6 item-border">
                                                    <!--=== Member Info Box ===-->
                                                    <div class="renvia-member-info-box">
                                                        <div class="icon">
                                                            <i class="far fa-user"></i>
                                                        </div>
                                                        <div class="content">
                                                            <span>Experience</span>
                                                            <h4>More Than 20 Years</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 item-border">
                                                    <!--=== Member Info Box ===-->
                                                    <div class="renvia-member-info-box">
                                                        <div class="icon">
                                                            <i class="far fa-phone"></i>
                                                        </div>
                                                        <div class="content">
                                                                    <span>Associations</span>
                                                            <h4>NAR India , CGAR ,BNI Jupiter</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 item-border">
                                                    <!--=== Member Info Box ===-->
                                                    <div class="renvia-member-info-box">
                                                        <div class="icon">
                                                            <i class="far fa-envelope"></i>
                                                        </div>
                                                        <div class="content">
                                                            <span>Phone Number </span>
                                                            <h4><a href="tel:+919039931234">+91 90399 31234</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 item-border">
                                                    <!--=== Member Info Box ===-->
                                                    <div class="renvia-member-info-box">
                                                        <div class="icon">
                                                            <i class="far fa-fax"></i>
                                                        </div>
                                                        <div class="content">
                                                            <span>Email Address</span>
                                                            <h4><a href="mailto:manish@tikarihaadvisors.com">manish@tikarihaadvisors.com</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/" class="theme-btn style-one">Contact Me <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-90 align-items-center">
                            <div class="col-lg-7">
                                <div class="renvia-content-box pe-xl-5 mb-5 mb-xl-0" data-aos="fade-up" data-aos-duration="1000">
                                    <h3 class="mb-15">About Me</h3>
                                    <p class="mb-25">Consectetur adipiscing elit. Pellentesque sed elit tempus, consectetur augue vel, venenatis neque. Suspendisse potenti. Nunc convallis nulla fringilla tellus dapibus lobortis. Nam in bibendum mi, at molestie tellus. Quisque molestie vel elit nec ultrices. Pellentesque a ex id lectus sagittis bibendum. Mauris ante nunc, eleifend sed consectetur non, rutrum quis diam. Suspendisse ultricies</p>
                                    <p class="mb-25"> molestie tellus dapibus maximus. Quisque interdum accumsan velit ac pellentesque. Nam est risus, auctor ut diam in, mollis lobortis tellus. Suspendisse potenti. Nunc convallis nulla fringilla tellus dapibus lobortis. Nam in bibendum mi,</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="renvia-skill-list" data-aos="fade-up" data-aos-duration="1000">
                                    <h3 class="mb-15">Personal Skills</h3>
                                    <p class="mb-25">we are more than just real estate advisors we are long-term partners in your property journey. With decades 25 years of experience </p>
                                    <div class="renvia-skill-item mb-25" data-aos="fade-up" data-aos-duration="1200">
                                        <div class="progress-title">
                                            <h6>UX Design<span>90%</span></h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 80%;"></div>
                                        </div>
                                    </div>
                                    <div class="renvia-skill-item mb-25" data-aos="fade-up" data-aos-duration="1400">
                                        <div class="progress-title">
                                            <h6>Problem solving<span>70%</span></h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                    <div class="renvia-skill-item mb-25" data-aos="fade-up" data-aos-duration="1600">
                                        <div class="progress-title">
                                            <h6>UX Design<span>85%</span></h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 85%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--======  Start Clients Section  ======-->
         <%- include('./partials/Home/clientle') %><!--======  End Clients Section  ======-->
        </main>
<%- include('footer') %>
    </div>
    </div>